* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  height: 100vh;
}

/* Dashboard Container */
.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #0d2345;
  padding: 30px 20px;
  border-right: 2px solid rgba(255,255,255,0.05);
}

.sidebar .logo {
  font-size: 26px;
  margin-bottom: 40px;
  line-height: 1.2;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 12px 8px;
  margin: 10px 0;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  border-radius: 6px;
}

.sidebar ul li:hover,
.sidebar .active {
  background: #0b3d91;
  opacity: 1;
}

/* Main Area */
.main-content {
  flex: 1;
  padding: 30px 40px;
  /* overflow-y: auto; */
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  margin-bottom: 30px;
}


